<div class="body-entidades">
    <h1 class="titulo">Ventas</h1>

    <div *ngIf="ventaList.length > 0; else noVentas">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Precio final</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let venta of ventaList">
                    <tr>
                        <td>{{venta.id}}</td>
                        <td>{{venta.cliente?.nombre}}</td>
                        <td>{{venta.fecha}}</td>
                        <td>{{venta.hora}}</td>
                        <td>{{venta.precioFinal}}</td>
                        <td>
                            <div class="botones-accion">
                                <button class="btn btn-success me-2" (click)="verLineasVenta(venta)" title="Ver Lineas de Venta">
                                    <i class="bi bi-eye"></i> <!-- Icono de ver -->
                                </button>
                                <button class="btn btn-primary me-2" (click)="editarVenta(venta)" title="Editar Venta">
                                    <i class="bi bi-pencil"></i> <!-- Icono de editar -->
                                </button>
                                <button class="btn btn-danger" (click)="eliminarVenta(venta)" title="Eliminar Venta">
                                    <i class="bi bi-trash"></i> <!-- Icono de papelera -->
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <ng-template #noVentas>
        <p>NADA</p>
    </ng-template>
</div>
