<div class="body-entidades">
    <div class="carousel-container">
        <div class="carousel-overlay-text">
            @if (usuario !== null) {
                <h1 class="titulo">¡Bienvenido {{usuario}}!</h1>
            } @else {
                <h1 class="titulo">¡Bienvenido!</h1>
            }
            <h2 class="subtitulo">¡¡¡ A la mejor tienda de alimentos del mercado !!!</h2>
        </div>

        <button class="carousel-btn left" (click)="prevSlide()">&#10094;</button>
        <div class="carousel-slide" id="carouselSlide">
            <img src="vegatales_carrusel.jpg" class="carousel-image" />
            <img src="carne_carrusel.jpeg" class="carousel-image" />
            <img src="frutos_secos_carrusel.jpg" class="carousel-image" />
        </div>
        <button class="carousel-btn right" (click)="nextSlide()">&#10095;</button>
    </div>

    <buscador (textoBuscado)="onBuscar($event)"></buscador>
    <h2 class="subtitulo-pagina">Nuestra selección de productos</h2>
    @if (categoriaList.length > 0) {
        <div class="cards-categorias">
            <ng-container *ngFor="let categoria of categoriaList">
                @if (categoria.subcategorias && categoria.subcategorias.length > 0) {
                    <div class="card-categoria">
                        <h2>{{categoria.nombre}}</h2>
                        <div class="subcategorias-container">
                            <div class="subcategorias">
                                <ng-container *ngFor="let subcategoria of categoria.subcategorias">
                                    <a [routerLink]="'/producto-list'" [queryParams]="{ id: subcategoria.id, nombre: subcategoria.nombre }" class="card-subcategoria-link">
                                        <div class="card-subcategoria">
                                            @if (subcategoria.imagenSubcategoria){
                                                <img [src]="subcategoria.imagenSubcategoria" class="subcategoria-imagen" alt="">
                                            } @else {
                                                <img src="sin_imagen.png" class="subcategoria-imagen" alt="">
                                            }
                                            <span class="texto">{{subcategoria.nombre}}</span>
                                        </div>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                }
            </ng-container>
        </div>
    } @else {
        <div class="alerta alert alert-warning">No se han encontrado categorías</div>
    }
  </div>