hr {
    opacity: 1;
}

h2 {
    margin-bottom: 0.5em;
}
  
.titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.subtitulo {
    text-align: center;
}

.subtitulo-pagina {
    text-align: center;
    font-size: 1.4rem;
    color: #5a5a5a;
}
  
.body-entidades {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 96px);
    padding: 1em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-categoria {
    margin-bottom: 1em;
}

.subcategorias-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
}
  
.subcategorias {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 67em; 
    overflow-x: auto;
    padding-bottom: 1rem;
}

.subcategorias::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

.subcategorias::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 4px;
}

.subcategorias::-webkit-scrollbar-thumb {
    background-color: #aaa; 
    border-radius: 4px;
    border: 1px solid #f0f0f0; 
}

.subcategorias::-webkit-scrollbar-thumb:hover {
    background-color: #999; 
}
  
.card-subcategoria-link {
    flex: 0 0 14.5em;
    text-decoration: none;
}

.card-subcategoria-link:hover {
    transform: scale(1.01);
}

.card-subcategoria {
    flex: 0 0 14.5em; 
    padding: 0.5rem;
    border: 1px solid #afc8ff;
    border-radius: 5px;
    background-color: #ecf1ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 18em;
    width: 15em;
    text-align: center;
} 

.subcategoria-imagen {
    width: 100%; 
    height: 70%; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: 1px solid #afc8ff;
}

.texto {
    font-weight: bold;
}

buscador {
    width: 100%;
    max-width: 67em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 67em;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    height: 20em;
    border-radius: 8px;
    opacity: 0.7;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3em 0.6em;
    background: transparent;
    border: none;
    color: white;
    box-shadow: none;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

.carousel-btn:hover {
    background: transparent;
    color: #ddd;
}

.alerta {
    width: 100%;
    max-width: 67em;
}

.carousel-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 5;
    width: 90%;
    max-width: 67em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.carousel-overlay-text .titulo {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.5rem;
}

.carousel-overlay-text .subtitulo {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
    .card-subcategoria-link {
        flex: 0 0 9em;
    }
    
    .card-subcategoria {
        flex: 0 0 9em;
        height: 12em;
        width: 10em;
    }

    .cards-categorias {
        width: 100%;
    }

    h2 {
        margin-bottom: 0.75em;
    }

    .card-categoria {
        margin-bottom: 0.75em;
    }

    .carousel-image {
        height: 15em;
    }

    .subtitulo {
        text-align: center;
    }

    .carousel-btn {
        font-size: 1.2rem;    
        width: 1.5em;           
        padding: 0.2em 0.4em;   
    }

    .carousel-btn.left {
        left: 0.01em;
    }
    
    .carousel-btn.right {
        right: 0.01em;
    }
}