<div class="body-entidades">
    <h1 class="titulo">Categorías</h1>

    @if (categoriaList.length > 0) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let categoria of categoriaList">
                    <tr>
                        <td>{{categoria.id}}</td>
                        <td>{{categoria.nombre}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="editarCategoria(categoria)" title="Editar Categoría">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="eliminarCategoria(categoria)" title="Eliminar Categoría">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    } @else {
        <p>NADA</p>
    }
</div>
