<div class="body-entidades">
    <h1 class="titulo">Clientes</h1>
    <buscador (textoBuscado)="onBuscar($event)"></buscador>

    @if (errorMessage != '') {
        <div class="alert alert-danger">{{ errorMessage }}</div>
    }
    @if (clienteList.length > 0) {
        <div class="tabla-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Fecha de nacimiento</th>
                        <th>Rol</th>
                        <th class="accion"><button type="button" class="btn btn-primary new-btn" (click)="crearNuevo()">Crear nuevo</button></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let cliente of clienteList">
                        <tr>
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.usuario}}</td>
                            <td>{{cliente.dni}}</td>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.apellidos}}</td>
                            <td>{{cliente.email}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.fechaNac | date: 'dd/MM/yyyy'}}</td>
                            <td>{{cliente.rol}}</td>
                            <td>
                                <div class="botones-accion">
                                    <a [routerLink]="'/cliente-create'" [queryParams]="{ id: cliente.id }">
                                        <button class="btn btn-primary me-2" title="Editar Cliente">
                                            <i class="bi bi-pencil"></i> 
                                        </button>
                                    </a>
                                    <button class="btn btn-danger" (click)="eliminarCliente(cliente)" title="Eliminar Cliente">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    } @else {
        <div class="w-100 alert alert-warning">No se han encontrado clientes</div>
        <button type="button" class="btn btn-primary new-btn" (click)="crearNuevo()">Crear nuevo</button>
    }
</div>
