<div class="body-entidades">
    <h1 class="titulo">Subcategorías</h1>
    <buscador (textoBuscado)="onBuscar($event)"></buscador>

    @if (errorMessage != '') {
        <div class="alert alert-danger">{{ errorMessage }}</div>
    }
    @if (subcategoriaList.length > 0) {
        <div class="tabla-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="table-primary">
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Subcategoría</th>
                        <th>Categoría pertinente</th>
                        <th class="accion"><button type="button" class="btn btn-primary new-btn" (click)="crearNuevo()">Crear nuevo</button></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let subcategoria of subcategoriaList">
                        <tr>
                            <td>{{subcategoria.id}}</td>
                            <td>
                                <img *ngIf="subcategoria.imagenSubcategoria; else sinImagen" [src]="subcategoria.imagenSubcategoria" alt="" class="imagen-productos">
                                <ng-template #sinImagen><img src="sin_imagen.png" alt="" class="imagen-productos"></ng-template>
                            </td>
                            <td>{{subcategoria.nombre}}</td>
                            <td>
                                <ng-container *ngIf="subcategoria.categoria !== null; else sinCategoria">
                                    {{subcategoria.categoria.nombre}}
                                </ng-container>
                                <ng-template #sinCategoria>Sin categoría</ng-template>
                            </td>
                            <td>
                                <div class="botones-accion">
                                    <a [routerLink]="'/subcategoria-create'" [queryParams]="{ id: subcategoria.id }">
                                        <button class="btn btn-primary me-2" title="Editar Subcategoría">
                                            <i class="bi bi-pencil"></i> 
                                        </button>
                                    </a>
                                    <button class="btn btn-danger" (click)="eliminarSubcategoria(subcategoria)" title="Eliminar Subcategoría">
                                        <i class="bi bi-trash"></i> 
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    } @else {
        <div class="w-100 alert alert-warning">No se han encontrado subcategorías</div>
        <button type="button" class="btn btn-primary new-btn" (click)="crearNuevo()">Crear nuevo</button>
    }
</div>
