<div class="body-entidades">
    <h1 class="titulo">Subcategorías</h1>

    @if (subcategoriaList.length > 0) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Subcategoría</th>
                    <th>Categoría pertinente</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let subcategoria of subcategoriaList">
                    <tr>
                        <td>{{subcategoria.id}}</td>
                        @if (subcategoria.imagenSubcategoria != null) {
                            <td><img class="resto-imagenes" [src]="subcategoria.imagenSubcategoria" alt=""></td>
                        } @else {
                            <td>Sin imagen</td>
                        }
                        <td>{{subcategoria.nombre}}</td>
                        @if (subcategoria.categoria != null) {
                            <td>{{subcategoria.categoria.nombre}}</td>
                        } @else {
                            <td>Sin categoría</td>
                        }
                    </tr>
                </ng-container>
            </tbody>
        </table>
    } @else {
        <p>NADA</p>
    }
</div>