hr {
    opacity: 1;
}

.titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    background-color: #ededed;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}
  
.body-entidades {
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.botones-accion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.resto-imagenes {
    max-width: 10em;
    max-height: 10em;
}
  
.imagen-productos {
    max-width: 10em;
    max-height: 10em;
    margin: 0 auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.cards-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
  
.card-producto {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
}
  
.card-producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
  
.card-producto div {
    margin-bottom: 0.5rem;
}
  
.card-producto div span {
    font-weight: bold;
}
  
.card-producto.categoria-1 {
    border-left: 5px solid #ff0000
}
  
.card-producto.categoria-2 {
    border-left: 5px solid #00ff00;
}
  
.card-producto.categoria-3 {
    border-left: 5px solid #0000ff; 
}

.card-producto.categoria-4 {
    border-left: 5px solid #fe11af;  
}
.card-producto.categoria-4 {
    border-left: 5px solid #d8ee30;  
}

::ng-deep .modal-content {
    margin-top: 15em;
}

.tabla-body {
    overflow-y: auto;
    overflow-x: auto;
}

.accion {
    width: 1em;
    white-space: nowrap;
}

.new-btn {
    width: 100%;
}

.create-form {
    width: 80%;
}

.unidades {
    width: 2em;
}

.full-width {
    width: 100% !important;
}

buscador {
    margin-bottom: 1em;
}