<div class="body-entidades">
    <div class="body-img-categoria mb-3">
        <h1 class="titulo-overlay">{{nombreCategoria}}</h1>
        <img *ngIf="imgCategoria; else sinImagen" [src]="imgCategoria" class="img-categoria" alt="">
        <ng-template #sinImagen>
            <img src="todas_categorias.jpg" class="img-categoria" alt="">
        </ng-template>
    </div>
    <buscador (textoBuscado)="onBuscar($event)"></buscador>

    <div *ngIf="subcategoriaList.length > 0; else noSubcategorias" class="subcategorias mb-3">
        <div class="row">
            <ng-container *ngFor="let subcategoria of subcategoriaList">
                <div class="col-md-4 mb-4">
                    <a [routerLink]="'/producto-list'" [queryParams]="{ id: subcategoria.id, nombre: subcategoria.nombre }">
                        <div class="card">
                            <img *ngIf="subcategoria.imagenSubcategoria; else sinImagen" [src]="subcategoria.imagenSubcategoria" class="card-img-top" alt="">
                            <ng-template #sinImagen>
                                <img src="sin_imagen.png" class="card-img-top" alt="">
                            </ng-template>
                            <div class="card-body">
                                <h5 class="card-title">
                                        {{ subcategoria.nombre }}
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-template #noSubcategorias>
        <div class="w-100 alert alert-warning">No se han encontrado subcategorías</div>
    </ng-template>
</div>