hr {
    opacity: 1;
}

.titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.body-entidades {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 96px);
    padding: 1em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resto-imagenes {
    max-width: 10em;
    max-height: 10em;
}

.imagen-subcategoria {
    width: 100%; 
    height: 150px; 
    object-fit: contain; 
    margin: 0 auto; 
    display: block;
    border: 1px solid #afc8ff !important;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; 
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    background-color: #ecf1ff;
}

.card:hover {
    transform: scale(1.01);
} 

.card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #0d6efd;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    max-height: 3rem; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.card .botones-accion {
    text-align: center;
    margin-top: 1rem;
}

.card img {
    align-self: center;
    height: 15em;
    object-fit: cover;
}

.col-md-4.mb-4 {
    width: 20em!important;
}

.row {
    justify-content: center;
}

a {
    text-decoration: none;
}

.card-img, .card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);    
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border: 1px solid #9c9c9c;
}

buscador {
    margin-bottom: 1em;
    max-width: 67em;
    width: 100%;
}

.subcategorias {
    max-width: 67em;
    width: 100%;
}

.body-img-categoria {
    position: relative;
    height: 5em;
    width: 100%;
    max-width: 67em;
    border-radius: 5px;
    overflow: hidden;
}

.img-categoria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.titulo-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    text-align: center;
}