<div class="body-entidades">
    <h1 class="titulo">Pagos</h1>

    @if (pagoList.length > 0) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>ID</th>
                    <th>Número de tarjeta</th>
                    <th>Fecha de caducidad</th>
                    <th>CVV</th>
                    <th>Cliente</th>
                    <th>Accion</th> <!-- Añadir columna para los botones -->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let pago of pagoList">
                    <tr>
                        <td>{{pago.id}}</td>
                        <td>{{pago.numeroTarjeta}}</td>
                        <td>{{pago.fechaCaducidad}}</td>
                        <td>{{pago.cvv}}</td>
                        <td>{{pago.cliente?.usuario}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="editarPago(pago)" title="Editar Pago">
                                <i class="bi bi-pencil"></i> <!-- Icono de editar -->
                            </button>
                            <button class="btn btn-danger" (click)="eliminarPago(pago)" title="Eliminar Pago">
                                <i class="bi bi-trash"></i> <!-- Icono de papelera -->
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    } @else {
        <p>NADA</p>
    }
</div>