<div class="body-info-producto">
    @if (errorCargado) {
        <div class="alert alert-danger" role="alert">
            <strong>Error al cargar el producto, vuelva a intentarlo más tarde</strong>
        </div>
    } @else if (productoSeleccionado) {
        <div class="titulo-info-producto">
            <div class="titulo-con-boton">
              <h1 class="mb-0">
                {{productoSeleccionado.marca}} - {{productoSeleccionado.nombre}} 
                <span class="texto-pequeño">
                  {{productoSeleccionado.categoria?.nombre}} / {{productoSeleccionado.subcategoria?.nombre}}
                </span>
              </h1>
          
              <button type="button" class="btn btn-outline-secondary btn-volver" (click)="atras()">Volver</button>
            </div>
          
            @if (productoSeleccionado.stock !== null && productoSeleccionado.stock <= 0) {
              <small class="text-danger mt-1">Sin stock disponible</small>
            }
          </div>

        <div class="body-info-extra">
            <div class="div-imagen">
                <img *ngIf="productoSeleccionado.urlImagen; else sinImagen" [src]="productoSeleccionado.urlImagen" class="imagen-producto" alt="">
                <ng-template #sinImagen>
                    <div class="imagen-producto text-center py-5 bg-light">
                        Sin Imagen
                    </div>
                </ng-template>
            </div>

            <div class="div-info-extra w-100">
                <div class="div-info-extra w-100">
                    <div class="info-scrollable">
                        <div>
                            <strong>Referencia:</strong>
                            <span>{{productoSeleccionado.referencia}}</span>
                        </div>
                        <div class="d-flex flex-column">
                            <strong>Descripción:</strong>
                            <span>{{productoSeleccionado.descripcion}}</span>
                        </div>
                        <div class="d-flex flex-column">
                            <strong>Ingredientes:</strong>
                            <span>{{productoSeleccionado.ingredientes}}</span>
                        </div>
                    </div>
                
                    <div class="compra">
                        <div class="mb-2">
                            <strong>Precio: </strong> <span class="text-success">{{productoSeleccionado.precio | number:'1.2-2' }} €</span>
                        </div>
                        <div class="boton-comprar">
                            @if (usuario == null || usuario == undefined) {
                                <button type="button" class="btn btn-primary boton-compra" (click)="alertaIniciarSesion()">
                                    Añadir al carrito
                                </button>
                            } @else {
                                <button type="button" class="btn btn-primary boton-compra" (click)="addCarrito(productoSeleccionado)" [disabled]="(productoSeleccionado.stock !== null && productoSeleccionado.stock <= 0) || usuario == null || usuario == undefined">
                                    Añadir al carrito
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }    
</div>