<div class="body">
    <div>
        <h1>Zona admin - Todas las entidades</h1>
    </div>
    
    <div class="entidades">
        <div class="pareja margen-derecho">
            <a [routerLink]="'/categoria'"><button class="btn btn-primary primer-btn">Categorías</button></a>
            <a [routerLink]="'/direccion'"><button class="btn btn-primary">Direcciones</button></a>
        </div>
        
        <div class="pareja margen-derecho">
            <a [routerLink]="'/subcategoria'"><button class="btn btn-primary primer-btn">Subcategorías</button></a>
            <a [routerLink]="'/pago'"><button class="btn btn-primary">Pagos</button></a>
        </div>

        <div class="pareja margen-derecho">
            <a [routerLink]="'/producto'"><button class="btn btn-primary primer-btn">Productos</button></a>
            <a [routerLink]="'/venta'"><button class="btn btn-primary">Ventas</button></a>
        </div>

        <div class="pareja margen-abajo">
            <a [routerLink]="'/cliente'"><button class="btn btn-primary primer-btn">Clientes</button></a>
            <a [routerLink]="'/lineasVenta'"><button class="btn btn-primary">Líneas de venta</button></a>
        </div>
    </div>
</div>