@if (lineaVenta) {
<form name="deleteForm" class="deleteForm" (ngSubmit)="confirmarDelete(lineaVenta.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar
            operación de borrado</h4>
    </div>

    <div class="modal-body">
        <p>
            ¿Seguro que quiere eliminar la línea de venta "{{ lineaVenta.id }}"?
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelar()">
            <span>Cancelar</span>
        </button>

        <button type="submit" class="btn btn-danger">
            <span>Eliminar</span>
        </button>
    </div>
</form>
}