<div class="body-entidades">
    <h1 class="titulo">{{nombreSubcategoria}}</h1>
  
    @if (productoList.length > 0) {
        <div class="cards-productos">
            <ng-container *ngFor="let producto of productoList">
                <div class="card-producto categoria-{{producto.categoria?.id}}">
                    <img [src]="producto.urlImagen" alt="" class="imagen-productos">
                    <div><span>Nombre:</span> {{producto.nombre}}</div>
                    <div><span>Marca:</span> {{producto.marca}}</div>
                    <div><span>Precio:</span> {{producto.precio}}</div>
                </div>
            </ng-container>
        </div>
    } @else {
        <p>NADA</p>
    }
  </div>