<div id="nav_bar">
    <div>
        <a [routerLink]="''">
            <img src="logo_ejemplo.png" alt="" class="logo">
        </a>
    </div>
    <div class="lista-cosas">
        <div>
            <a [routerLink]="''"><fa-icon [icon]="faHome"></fa-icon></a>
        </div>
        @if (rol == "ADMIN") {
            <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" id="entidades" ngbDropdownToggle>
                    <fa-icon [icon]="faThList"></fa-icon> Entidades
                </a>
                <div ngbDropdownMenu aria-labelledby="entidades">
                    <a ngbDropdownItem [routerLink]="'/categoria'">Categoría</a>
                    <a ngbDropdownItem [routerLink]="'/subcategoria'">Subcategoría</a>
                    <a ngbDropdownItem [routerLink]="'/producto'">Producto</a>
                    <a ngbDropdownItem [routerLink]="'/cliente'">Cliente</a>
                    <a ngbDropdownItem [routerLink]="'/direccion'">Dirección</a>
                    <a ngbDropdownItem [routerLink]="'/pago'">Pago</a>
                    <a ngbDropdownItem [routerLink]="'/venta'">Venta</a>
                    <a ngbDropdownItem [routerLink]="'/lineasVenta'">Líneas de Venta</a>
                </div>
            </div>
        } @else {
            <div ngbDropdown class="d-inline-block">
                <a href="javascript:void(0);" id="categorias" ngbDropdownToggle>
                    <fa-icon [icon]="faThList"></fa-icon> Categorías
                </a>
                <div ngbDropdownMenu aria-labelledby="categorias">
                    <ng-container *ngFor="let categoria of categorias">
                        <a ngbDropdownItem [routerLink]="'/subcategoria-list'" [queryParams]="{ id: categoria.id, nombre: categoria.nombre }">{{ categoria.nombre }}</a>
                    </ng-container>
                </div>
            </div>
        }
        @if (rol != "ADMIN") {
            <div>
                @if (rol == "USER") {
                    <div class="d-flex flex-row">
                        <a [routerLink]="'/carrito'"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
                        <div class="d-flex justify-content-center align-items-center ps-1"><div *ngIf="carritoCount > 0" class="carrito-count">{{ carritoCount }}</div></div>
                    </div>
                } @else {
                    <a [routerLink]="'/login'"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
                }
            </div>
        }
        <div>
            @if (!isLoggedIn) {
                <a [routerLink]="'/login'"><fa-icon [icon]="faUser"></fa-icon></a>
            } @else {
                <div ngbDropdown class="d-inline-block">
                    <a href="javascript:void(0);" id="usuarioMenu" ngbDropdownToggle>
                        <fa-icon [icon]="faUser"></fa-icon>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="usuarioMenu">
                        <a ngbDropdownItem [routerLink]="'/cliente-ajustes'"><fa-icon [icon]="faCog"></fa-icon>&nbsp;&nbsp;Ajustes</a>
                        <a ngbDropdownItem (click)="logout()"><fa-icon [icon]="faSignOut"></fa-icon>&nbsp;&nbsp;Cerrar sesión</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>